.new-post
{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;

}

.new-post header,
.posts header{
    margin-left: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 10px;
	padding-right: 10px;
	background-color: rgb(255,255,255);
	background-color: rgba(255, 255, 255, 0.42);
	width:284px;
	float: left;
	margin-right: 15px;
}

.holder
{
	padding-top: 10px;
    padding-bottom: 1px;
	padding-left: 10px;
    border-left: 3px solid blue;
    margin-bottom: 30px;
	float:left;
	padding-right: 10px;
	width: 920px;
	background-color: rgb(169, 147, 147);
}

.section-title
{
	font-weight: 1000;
	color:slategray;
}

.posts .post .info{
    color: #808080;
    font-style: italic;
	font-size: 12px;
}

.error
{
    border:1px solid red;
    background-color:#f9b5af;
    color:red!important;
}


.error ul
{
    list-style: none;
    margin:0;
    padding:0;
}

.success
{
    border:1px solid green;
    background-color: #d1f9da;
    color:green!important;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
    display:  inline-block;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: $file-upload-color;
    @include transition(all 0.2s ease-in);
    float: left; /* IE 9 Fix */
    &:hover, &:focus {
        background-color: #c0392b;
        outline: none;
    }
}
.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: #c0392b;
    float: left; /* IE 9 Fix */

    transition: background-color .2s ease-in;
}

.file-upload-button:hover
{
    background-color: #5d1b15;
}

#addNew
{
    margin: 40px;
    margin-left: 20px;
}

.myerror
{
    color: darkgrey;
    font-size: 80%;
}


.slideout {
  cursor: pointer;
  left: 0;
  border-bottom: 1px solid #0073b9;
  border-left: 2px solid red;
  background-color:#cecece;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.slideout_inner {
  position: absolute;
  top: -32px;
  left: -3750px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* #slideout:hover { */
  /* left: 250px; */
/* } */
.slideout:hover + #slideout_inner {
  left: 80px;
  visibility:0;
}

.appscontainer
{
	margin-left: 36px;
}

#top{
	background-color: rgb(23,0,0);
    border-left: 3px solid blue;
    border-bottom: 4px solid #a21b24;
}

.col-md-2.d-none.d-md-block.bg-light.sidebar.navbar-fixed-top
{
	margin-left: 0px!important;
}

h4.section-title
{
	font-size: 14px!important;
}

.post > div > p.title
{
	font-size:11px!important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: black;
	font-weight: bold;
}

.post > div > p.downloadables
{
	font-size:11px!important;
	overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: black;
	font-weight: bold;
}

.post > div > p > a
{
	font-size:11px!important;
	overflow: visible!important;
    text-overflow: ellipsis;
    white-space: nowrap;
	color: black;
	font-weight: bold;
}


body
{
    background-color: #a5a5a5;
	background: rgba(253, 144, 193, 0.55)!important;
    background: linear-gradient(-90deg,  #bdbdbd, #ce9090)!important;
}


/* .post > p:first-child */
/* { */
	/* font-size:10px!important; */
/* } */

.navbar-fixed-top
{
	background-color: rgb(108, 108, 108) !important;
	background-color: rgba(145, 141, 141, 0.59)!important;
}


/*Arrow transistion*/
  .arrow {
    color:#c30000;
    animation:myfirst 3s;
  -moz-animation:myfirst 3s infinite; /* Firefox */
-webkit-animation:myfirst 3s infinite; /* Safari and Chrome */
  }


  @-moz-keyframes myfirst /* Firefox */
{
0%   {color:#c30000;}
50%  {color:#636b6f;}
100%   {color:#c30000;}
}

    @-webkit-keyframes myfirst /* Firefox */
{
0%   {color:#c30000;}
50%  {color:#636b6f;}
100%   {color:#c30000;}
}


      @keyframes myfirst /* Firefox */
{
0%   {color:#c30000;}
50%  {color:#636b6f;}
100%   {color:#c30000;}
}

.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-fixed-top
{
	background-color: rgb(145, 141, 141)!important;
	background-color: rgba(145, 141, 141, 0.59)!important;
}

.navbar-nav.navbar-right
{
	margin-right: 2%;
}

.holder.dash
{
	min-width: 930px;
    margin-left: 36px;
}

.interaction
{
	font-size: 12px;
    height: 19px;
}

.jumbotron.lucent
{

    background-color: #c3c3c363!important;

}

.contlucent{

    background-color: #9a9a9aeb!important;

}

.modal-title.lucent
{
	color:black;
}

.btn.btn-outline-secondary.select-butn
{
	color:black!important;
	border:1px solid #868e96;
}

.row.login
{
	margin-top: 6%;
}

.jumbotron.login{
	background-color: rgb(78,78,78);
	background-color:rgba(79, 79, 79, 0.21);
	background-color: #4e4e4e36;
}

h4.section-title
{
	color:#364452!important;
}

.jumbotron.lucent.add_for > div > label
{
	color:black!important;
}

img.icon
{
	height: 40px;
    width: 40px;
    position: relative;
    float: left;
    top: 16px;
    margin-right: 5px;
	background: #272727;
}

.jumbotron
{
	transition: all 0.5s ease;
}

.jumfade
{
	background-color:#ffffff00!important;
}

.jumbotron > .form-group > .form-control, .jumbotron > .form-group > .input-group
{
	font-weight:bold;
	color:black!important;
}

.jumbotron.lucent .form-group .input-group .form-control
{
  width:75%!important;
}


/*#d4d4d4c9*/
