.new-post
{
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    
}

.new-post header,
.posts header{
    margin-left: 20px;
}

.posts .post{
    padding-left: 10px;
    border-left: 3px solid #a21b24;
    margin-bottom: 10px;
	padding-right: 10px;
	background-color: #cecece;
	width:275.86px;
	float: left;
	margin-right: 15px;
}

.holder
{
	padding-top: 10px;
    padding-bottom: 1px;
	padding-left: 10px;
    border-left: 3px solid blue;	
    margin-bottom: 30px;
	float:left;
	padding-right: 10px;
	width: 920px;
	background-color: rgba(90, 71, 71, 0.38);
}

.section-title
{
	font-weight: 1000;
	color:slategray;
}

.posts .post .info{
    color: #aaa;
    font-style: italic;
}

.error
{
    border:1px solid red;
    background-color:#f9b5af;
    color:red;
}


.error ul
{
    list-style: none;
    margin:0;
    padding:0;
}

.success
{
    border:1px solid green;
    background-color: #d1f9da;
    color:green;
}

.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 30px;
    //border: 1px solid #ccc;
    label {
        display: block;
        margin-bottom: 5px;
    }
}

.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
    display:  inline-block;
    //border: 1px solid #ccc;
}
.file-upload-input {
    width: $file-upload-size;
    color: #fff;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;
    background-color: $file-upload-color; 
    @include transition(all 0.2s ease-in); 
    float: left; /* IE 9 Fix */
    &:hover, &:focus { 
        background-color: #c0392b;
        outline: none; 
    }
}
.file-upload-button {
    cursor: pointer; 
    display: inline-block; 
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px; 
    border: none;
    margin-left: -1px;  
    background-color: #c0392b; 
    float: left; /* IE 9 Fix */

    transition: background-color .2s ease-in;
}

.file-upload-button:hover
{
    background-color: #5d1b15;
}

#addNew
{
    margin: 40px;
    margin-left: 20px;
}

.myerror
{    
    color: darkgrey;
    font-size: 80%;
}


.slideout {
  cursor: pointer;
  left: 0;
  border-bottom: 1px solid #0073b9;
  border-left: 2px solid red;
  background-color:#cecece;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.slideout_inner {
  position: absolute;
  top: -32px;
  left: -3750px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* #slideout:hover { */
  /* left: 250px; */
/* } */
.slideout:hover + #slideout_inner {
  left: 80px;
  visibility:0;
}

.appscontainer
{
	margin-left: 36px;
}

#top{
	background-color: black;
    border-left: 3px solid blue;
    border-bottom: 4px solid #a21b24;
}

.col-md-2.d-none.d-md-block.bg-light.sidebar.navbar-fixed-top
{
	margin-left: 0px!important;
}

h4.section-title
{
	font-size: 14px!important;
}

.post > p > a, .post > p
{
	font-size:10px!important;
}

.post > p:first-child
{
	font-size:10px!important;
}

