.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4 , .col-md-2.d-none.d-md-block.bg-light.sidebar.navbar-fixed-top
{
	margin-top:61px;
	min-width:237px;
}

.btn.btn-info.btn-sm
{
	background-color: #0073b9;
}


ul .nav.flex-column > li .nav-item > a .nav-link
{

}

.col-md-2.d-none.d-md-block.bg-light.sidebar.navbar-fixed-top
{
	    margin-left: 55px;
}

.nav.flex-column
{
	font-size: 11px;
    margin-top: 40px;
    color: black;
}

.nav.flex-column > li > a 
{
	color:black;
}

.row.new-post
{
	margin-top:61px;
}

.input-group .form-control {
    width: 0;
}

.input-group {
	display: -webkit-inline-box;
}